
<div class="header">
<button mat-button [matMenuTriggerFor]="menu" class="header">MENU</button>
<a mat-list-item routerLink=""><button mat-button class="header">INÍCIO</button></a>


<mat-menu #menu="matMenu" class="content">  
  <a mat-list-item routerLink="/eventos"><button mat-menu-item class="header">EVENTOS</button></a> 
    <a mat-list-item routerLink="/casas"><button mat-menu-item class="header">CASAS DE SHOW</button></a>
   <a mat-list-item routerLink="/usuarios"> <button mat-menu-item class="header" >USUARIO</button></a>
 </mat-menu>

 
</div>