<div>
    <mat-card>
        <mat-card-title>Cadastro Casa de Show</mat-card-title>
    </mat-card>
        
        <form >
            
            <mat-form-field>
                <input matInput placeholder="Nome"
                [(ngModel)]="casaShow.nome" name="nome">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Endereco"
                [(ngModel)]="casaShow.endereco" name="endereco">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Capacidade"
                [(ngModel)]="casaShow.capacidade" name="capacidade">
            </mat-form-field>

           

        </form>
    <button mat-raised-button (click)="createCasaShow()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancelCasaShow()" color="" >
        Cancelar
    </button>
    
    </div>