.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;

}

.footer a{
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header.logo{
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.footer .title-group {
   padding-right: 5px;
}